:root {
    --cookie-width: 128px;
    --cookie-height: 64px;
    --cookie-font-size: 32px;
    --cookie-background-color: white;
    --cookie-background-color-pressed: #ccccff;
    --cookie-bottom-distance: 20px;
}

.counter {
    position: absolute;
    bottom: var(--cookie-bottom-distance);
    width: var(--cookie-width);
    height: var(--cookie-height);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cookie-background-color);

    color: red;
    border-radius: 10px;

    .count {
        display: flex;
        text-align: center;
        align-items: center;
        font-size: var(--cookie-font-size);
    }
}

.counter:active {
    width: calc(128px * 0.8);
    height: calc(64px * 0.8);
    bottom: calc(20px * 1.4);
    background-color: var(--cookie-background-color-pressed);

    .count {
        font-size: calc(32px * 0.8);
    }
}

.Background {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}